@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Project made by Vladyslav Shaposhnikov</h2>
    <p>Click <a asp-controller="Home" asp-action="Sportspeople">here</a> to view list of sports people</p>
</div>